<div>
  <nav class="header">
    <div class="header__title">
      <a href="#">Systems' Integration</a>
    </div>
    <div class="header__links">
      <a routerLink="matrix" routerLinkActive="active">Matrix</a>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
  <div class="col-1"></div>
</div>

<!--<div class="row">-->
  <!--<div class="col-1"></div>-->
  <!--<div class="col-10">-->
    <!--<app-matrix>-->

    <!--</app-matrix>-->
  <!--</div>-->
  <!--<div class="col-1"></div>-->
<!--</div>-->

